.App {
  text-align: center;
  background-color: blue;
}

.myFace{
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-top: 60px;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: darkcyan;
  font-family:
}

.App-body{
  color: darkblue;
  align-self: center;
  justify-content: center;
}

body{
  background-color: lightcyan;
}